<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsmx.webviewlibrary">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.WebViewLibrary"
            android:value="com.bsmx.webviewlibrary.WebViewLibrary" />
    </application>
</manifest>